<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('productList', (products) => {
            const productsList = document.getElementById('products-list');
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `<strong>${product.title}</strong>: ${product.description} - Precio: ${product.price}`;
                productsList.appendChild(listItem);
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>Listado de productos</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">product</a></li>
            </ul>
        </nav>
    </header>

    <ul id="products-list">
        <!-- Lista de productos -->
    </ul>

</body>
</html>